<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutpage.css') }}" />
  </head>
  <body>
    <nav class="navbar">
        <div class="max-width">
           <div class="logo">
            <img src="{{ url_for('static', filename='img/aboutPage_img/logo.png') }}" alt="Logo image" />
                
                    <h4>APMAAS SYSTEMS</h4>
                  </div>
            <ul class="menu">
                <li><a href="/main_Window">Home</a></li>
                <li><a href="/teams">Teams</a></li>
               
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <main>
       
       
        <div class="box">
            <div class="inner-box">
                  <div class="container">   
                                

                                <!-- ABOUT SECTION -->
                                    <section class="about" id="about">
                                        <div class="max-width">
                                            <h2 class="title">About Us</h2>

                                            <div class="about_content">
                                                <div class="column left">
                                                    <img src="{{ url_for('static', filename='img/aboutPage_img/img01.png') }}" alt="Pic Missed" />
                                                </div>
                                                <div class="column right">
                                                    
                                                        
                                                    <p>The purpose of this document is to specify the software requirements for the Academic Performance 
                                                        Management and Analysis System for Undergraduate Students (APMAAS). This system aims to 
                                                        provide a comprehensive solution for undergraduate students to monitor and manage their academic 
                                                        performance throughout their university education.<br/>
                                                        The system addresses the problems faced by 
                                                        students in terms of monitoring their academic progress, calculating their GPA, and receiving timely 
                                                        alerts for repeat/aria subjects. The system also provides information and support for students who are 
                                                        looking to upgrade their class by providing information on the grades required to achieve the desired 
                                                        GPA.<br/> Overall, the purpose of the APMAAS is to empower undergraduate students with the tools and 
                                                        information they need to succeed academically and achieve their academic goals.
                                                        </p>
                                                    
                                                
                                                </div>
                                            </div>   
                                        </div>
                        
                                    </section>
                        </div>
                    </div>
                </div>
               


             
            </main>
               






            
            </body></html>