<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teams</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
                                        
    </head>
    <body>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/profileCard/logo.png') }}" alt="Logo" />
            <h4>APMAAS SYSTEMS</h4>
          </div>
    
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/teams_img/fareeha.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">FAREEHA
                            </h2>
                            <p class="description">ICT19823	<br>
                                ict19823@fot.sjp.ac.lk<br>
                                0766951999	<br>
                                Software Technology<br>
                                </p>
                        </div>
                    </div>


                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/teams_img/amna.png') }}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Amna</h2>
                            <p class="description">ICT19804	<BR>
                                ict19804@fot.sjp.ac.lk<BR>
                                0776274090	<BR>
                                Software Technology<BR>
                                </p>
                        </div>
                    </div>


                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/teams_img/piumi.jpg') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">DHULAKSHIl</h2>
                            <p class="description">ICT19821	<BR>
                                ict19821@fot.sjp.ac.lk<BR>
                                0703225694	<BR>
                                Software Technology<BR>
                                </p>

                        </div>
                    </div>


                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/teams_img/nisal.jpg') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">NISAL</h2>
                            <p class="description">ICT19860	<br>
                                ict19860@fot.sjp.ac.lk<br>
                                0729136013	<br>
                                Multimedia Technology<br>
                              </p>
                        </div>
                    </div>


                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/teams_img/saranka.jpg') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">SARANKA</h2>
                            <p class="description">ICT19863	<br>
                                ict19863@fot.sjp.ac.lk<br>
                                0769616897	<br>
                                Network Technology<br>
                                </p>

                         
                        </div>
                    </div>


                    
                   
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
  
    </body>

    <!-- Swiper JS -->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>

    <!-- JavaScript -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>